################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/oop2_project/Debug
/oop2_project/x64/Debug/oop2_project.Build.CppClean.log
/oop2_project/x64/Debug/oop2_project.log
